<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="InnogrityLinePackingClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <InnogrityLinePackingClient.Properties.Settings>
            <setting name="lblXmin2" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblXmax2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblYmin2" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblYmax2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblDegmin2" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="lblDegmax2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="printTopmin2" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printTopmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printBtmmin2" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printBtmmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printLefmin2" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printLefmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printRitemin2" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printRitemax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekTopmin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekTopmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekBtmmin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekBtmmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekLefmin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekLefmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekRitemin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekRitemax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntTopmin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntTopmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntBtmmin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntBtmmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntLefmin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntLefmax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntRitemin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntRitemax2" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="lblXmin4" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblXmax4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblYmin4" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblYmax4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblDegmin4" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="lblDegmax4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="printTopmin4" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printTopmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printBtmmin4" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printBtmmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printLefmin4" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printLefmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printRitemin4" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printRitemax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekTopmin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekTopmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekBtmmin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekBtmmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekLefmin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekLefmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekRitemin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekRitemax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntTopmin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntTopmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntBtmmin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntBtmmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntLefmin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntLefmax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntRitemin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntRitemax4" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="lblXmin7" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblXmax7" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblYmin7" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblYmax7" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblDegmin7" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="lblDegmax7" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="printTopmin7" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printTopmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printBtmmin7" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printBtmmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printLefmin7" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printLefmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printRitemin7" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printRitemax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="lblXmin7a" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblXmax7a" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblYmin7a" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="lblYmax7a" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lblDegmin7a" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="lblDegmax7a" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="printTopmin7a" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printTopmax7a" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printBtmmin7a" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printBtmmax7a" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printLefmin7a" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printLefmax7a" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="printRitemin7a" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="printRitemax7a" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekTopmin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekTopmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekBtmmin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekBtmmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekLefmin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekLefmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekRitemin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpekRitemax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntTopmin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntTopmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntBtmmin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntBtmmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntLefmin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntLefmax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="IntRitemin7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntRitemax7" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="SpekDegmin4" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="SpekDegmax4" serializeAs="String">
                <value>185</value>
            </setting>
        </InnogrityLinePackingClient.Properties.Settings>
    </userSettings>
</configuration>
